.section2 {
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: brown;
}

.part1 {
    display: flex;
    background-color: blueviolet;
    position: relative;
    width: 100%;
    /* margin: 10px 0; */
}

.rect1 {
    position: absolute;
    height: 20rem;
    width: 20rem;
    background-color: var(--base-color);
    bottom: 0;
    right: 0;
}

.rect2 {
    position: absolute;
    height: 20rem;
    width: 20rem;
    right: 50px;
    bottom: 50px;
    background-image: url(/assets/rice.jpg);
}

.rect3 {
    position: absolute;
    height: 10rem;
    width: 12rem;
    background-color: black;
    bottom: 0;
    right: 0;
}

.part2 {
    background-color: tomato;
    max-height: 100%;
    width: 100%;
}


.aboutIcon {
    width: 2.5rem;
}

@media (min-width: 600px) {
    .section2 {
        flex-direction: row;
    }
    .part1 {
        width: 50%;
    }
    .part2 {
        width: 50%;
    }
}