@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
}

:root {
    --main-color: #09bd4b;
    --base-color: #6b7280;
}

/* general styling */
.small {
    color: var(--main-color);
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    margin: 1rem 0;
    letter-spacing: .1rem;
}

.medium {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.5rem;
}

.large {
    color: black;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 500;
    margin: 0 0 1rem 0;
    /* width: fit-content; */
}

p {
    color: var(--base-color);
    font-weight: 400;
    font-size: 1rem;
}

/* START OF NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: .75rem;
}

.brand-name {
    color: var(--main-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.toggle-button {
    display: none;
    position: absolute;
    right: 1rem;
    top: 1.2rem;
    flex-direction: column;
    justify-content: space-between;
    height: 15px;
    width: 20px;
}

.toggle-button span {
    background-color: black;
    width: 100%;
    height: 2px;
    border-radius: 2px;
}
/* END OF NAVBAR */

/* START OF SECTION 1 */
.section1 {
    height: 100vh;
}

.riceFarmContainer{
    background-image: linear-gradient(rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5)), url(/assets/rice-farm.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.welcomeCard {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.welcomeCard h1 {
    text-transform: uppercase;
    color: var(--main-color);
    font-size: 2.5rem;
    margin: 0;
}

.welcomeCard h2 {
    color: white;
    text-transform: capitalize;
    margin: 1rem 0;
    font-size: 2rem;
}

.welcomeCard p {
    color: white;
    font-size: 1.5rem;
}

.shopNowBtn {
    background-color: var(--main-color);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    padding: 1rem 2rem;
    color: white;
}

/* END OF SECTION 1 */

/* START OF SECTION 2 */
.section2 {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    padding: 4rem;
}

.part1 {
    flex: 50%;
    /* width: 80%; */
}

.part2 {
    flex: 50%;
    padding: 4rem;
}
.part2 h1 {
    border-bottom: var(--main-color) 8px solid;
    line-height: 1.2em;
}
.aboutUs {
    display: flex;
    flex-direction: row;
}
.process {
    margin: 2rem 2rem 0 0;
}
.icon {
    display: flex;
    background-color: red;
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.aboutIcon {
    width: 2rem;
}
/* END OF SECTION 2 */

@media (max-width: 800px) {
    .welcomeCard p {
        font-size: 1.2rem;
    }
    .riceFarmContainer {
        background-attachment: scroll;
    }
}

/* for bigger devices */
@media (max-width: 800px) {
    .toggle-button {
        display: flex;
    }
}