@import url(css/navbar.css);
@import url(css/section1.css);

/* This project is done mobile first */
* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --base-color: #09bd4b;
}